.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #00000034;
  opacity: 0;
  z-index: -11;

  &.active {
    z-index: 11;
    opacity: 1;
  }
}
.student-edit-modal-content {
  background-color: #fff;
  position: fixed;
  right: -100%;
  top: 0;
  height: 100vh;
  width: 500px;
  padding: 30px 10px;
  opacity: 0;
  z-index: 12;
  overflow: auto;

  &.active {
    opacity: 1;
    right: 0;
  }

  form {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    row-gap: 10px;

    .input-row {
      width: calc(50% - 3px);

      span {
        color: red;
        font-size: 15px;
      }

      &.w-100 {
        width: 100%;
      }

      input,
      select,
      textarea {
        font-size: 16px;
        width: 100%;
        height: 50px;
        padding: 0 10px;
        border-radius: 15px;
        border: 2px solid #f26225;
        background-color: #fff !important;

        &:is(textarea) {
          resize: none;
          height: 150px;
          padding-top: 10px;
        }

        &:is(select) {
          &.disabled {
            color: #868686;
          }

          option {
            color: #000 !important;
          }
        }
      }

      &.register-submit-button {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 20px;
        flex-direction: row-reverse;

        button {
          border-radius: 12px;
          padding: 8px 20px;
          background-color: #f26225;
          color: #fff;
          font-size: 16px;
          cursor: pointer;
          border: none;

          &:hover {
            opacity: 0.9;
          }
        }
      }
    }
  }
}
