#profile-section-students {
  width: 100%;
  min-height: 100vh;
  // background-image: linear-gradient(to right bottom, #fff, rgb(221, 221, 121));
  padding: 20px;
  max-width: 1366px;
  margin: 0 auto;

  .edit-profile {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -111;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #00000042;
    opacity: 0;
    transform: translateX(-20px);

    &.active {
      z-index: 111;
      opacity: 1;
      transform: translateX(0);
    }

    .edit-profile-content {
      width: 500px;
      padding: 30px;
      background-color: #fff;
      z-index: -1111;
      border-radius: 15px;
      opacity: 0;
      transform: translateX(20px);

      &.active {
        z-index: 1111;
        opacity: 1;
        transform: translateX(0);
      }

      p {
        font-size: 18px;
        text-align: center;
      }

      .edit-actions {
        display: flex;
        justify-content: center;
        gap: 10px;
        width: 100%;
        margin-top: 20px;

        button {
          width: 50%;
          padding: 15px 20px;
          cursor: pointer;
          background-color: #ea641e;
          border: none;
          font-size: 15px;
          border-radius: 12px;
          font-weight: 500;
          color: #fff;
        }
      }
    }
  }

  .welcome-text {
    font-size: 32px;
    display: flex;
    justify-content: space-between;
  }

  .top-line-student {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 15px;
    gap: 10px;

    .profile-card {
      height: 300px;
      position: relative;
      border-radius: 25px;
      overflow: hidden;
      box-shadow: 0 0 10px 10px #0000000a;

      button {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 11;
        width: 35px;
        height: 35px;
        border-radius: 10px;
        cursor: pointer;
        background-color: #f1f1f1;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: #fff;
        }

        img {
          width: 80%;
          height: 80%;
          position: relative;
          top: -0.5px;
          left: -0.5px;
        }
      }

      img {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
      }

      &-texts {
        position: absolute;
        bottom: 0;
        padding: 10px 20px 15px;
        backdrop-filter: blur(10px);
        width: 100%;
        mask-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 1) 20%
        );
        -webkit-mask-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 1) 20%
        );

        p {
          &:first-child {
            font-size: 20px;
          }
        }
      }
    }
    .class-rank-card {
      height: 300px;
      position: relative;
      border-radius: 25px;
      overflow: hidden;
      box-shadow: 0 0 10px 10px #0000000a;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .crown-img {
        background-repeat: no-repeat;
        position: relative;
        width: 150px;
        z-index: 10;
        pointer-events: none;

        &.normal {
          background-image: url("/assets/image/crown.png");
        }

        &.silver {
          filter: grayscale(100%);
        }

        &.bronze {
          filter: sepia(100%) brightness(80%) saturate(200%);
        }

        &.op-0 {
          opacity: 0;
        }
      }

      p {
        position: relative;
        z-index: 11;
        color: #fff;

        &.c-r {
          color: #ea641e !important;
        }

        &.c-o {
          position: absolute;
          font-size: 20px;
          font-weight: 600;
        }
      }
    }
    .school-rank-card {
      height: 300px;
      height: 300px;
      position: relative;
      border-radius: 25px;
      overflow: hidden;
      box-shadow: 0 0 10px 10px #0000000a;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .crown-img {
        background-repeat: no-repeat;
        position: relative;
        width: 150px;
        z-index: 10;
        pointer-events: none;

        &.op-0 {
          opacity: 0;
        }

        &.normal {
          background-image: url("/assets/image/crown.png");
        }

        &.silver {
          filter: grayscale(100%);
        }

        &.bronze {
          filter: sepia(100%) brightness(80%) saturate(200%);
        }
      }

      p {
        position: relative;
        z-index: 11;
        color: #fff;

        &.c-r {
          color: #ea641e !important;
        }

        &.c-o {
          position: absolute;
          font-size: 20px;
          font-weight: 600;
        }
      }
    }
  }

  .profile-sciences {
    padding: 15px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px 10px #0000000a;
    margin-top: 15px;

    .title-p {
      font-size: 20px;
      font-weight: 500;
    }
  }

  .middle-line {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 15px;

    .monthly-class-chart,
    .monthly-school-chart {
      padding: 10px;
      border-radius: 15px;
      background-color: #fff;
      box-shadow: 0 0 10px 10px #0000000a;

      .line {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 50px;

        select {
          position: absolute;
          right: 0;
          padding: 5px 10px;
          border: 1px solid #ea641e;
          border-radius: 5px;
          cursor: pointer;
        }
      }

      p {
        font-size: 20px;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 749px) {
  #profile-section-students {
    .edit-profile {
      .edit-profile-content {
        width: 90%;
      }
    }

    .welcome-text {
      font-size: 20px;
      align-items: center;
    }
    .top-line-student {
      grid-template-columns: repeat(1, 1fr);

      .profile-card, .class-rank-card, .school-rank-card {
        height: 250px;
      }
    }
    .middle-line {
      grid-template-columns: repeat(1, 1fr);
    
      .monthly-class-chart, .monthly-school-chart {
        .line {
          justify-content: flex-start;

          p {
            font-size: 14px;
          }
        }
      }
    }
  }

  .profile-sciences {
    .title-p {
      text-align: center;
    }
  }
}
